F*{
    box-sizing: border-box;
}

body{
    background-color: rgb(49, 49, 49);
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: rgb(220, 79, 161);
    color: white;
    padding: 0.5em 0;
}

.title{
    width: 80%;
    margin: 0 auto;
}

.title h1{
    font-size: 2.6em;
    margin: 0.4em 0;
}

.filter-section, .addTodo{
    background-color: rgb(61, 58, 58);
    padding: 1em;
    color: white;
}

form{
    width: 60%;
    margin: 0 3.5em;
}

.form-group{
    display: flex;
    align-items: center;

}

.form-group input[type="text"]{
    margin-right: 4em;
    padding: 0.2em;
    font-size: 1.2em;
}

.form-group input[type="text"]:focus{
    outline: none;
    border: 0.2em solid rgb(220, 79, 161);
}


.appBody{
    margin: 2em 5em;
    color: white;
}

.todo{
    background-color: rgb(61, 58, 58);
    padding: 0.3em 0.7em;
    margin: 1em 0;
}

.todo input[type="checkbox"]{
    margin-right: 2.5em;
}

.todo-content{
    display: inline-block;
}

.remove{
    float: right;
    height: 100%;
    padding: 0.9em;
    color:rgba(0, 0, 0, 0.5);
    display: block;
    cursor: pointer;
}

.remove:hover{
    color: white;
}

.todo-content.cross{
    text-decoration: line-through;
    opacity: 0.5;
    color: grey;
}

.todo.remove{
    display: none;
}
.submit-btn{
    padding: 0 1.5em;
    align-self: stretch;
    background-color: rgb(220, 79, 161);
    color: white;
    border: none;
    cursor: pointer;
}

.submit-btn:active{
    transform: scale(0.98);
}